@import 'styles/variables';


.login {
    padding: 2em 8em;
    width: 100%;

    &Header {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 4rem;

        &_sub{
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
}