@import 'styles/variables';

.authLayout{
    display: flex;
    height: 100vh;
    justify-content: space-between;

    & > div {
        height: 100%;
        width: 50%;
        display: grid;
        place-items: center;
    }

    & .Right {
        background: $light-grey;
        & img {
            width: 80%;
        }
    }

}